{% extends "base.html" %}

{% block title %} 问题 {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/bootstrap-markdown/css/bootstrap-markdown.min.css" type="text/css">
    <script type="text/javascript" src="/static/bootstrap-markdown/js/bootstrap-markdown.js" ></script>
    <script type="text/javascript" src="/static/bootstrap-markdown/locale/bootstrap-markdown.zh.js" ></script> 
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-9">
                            <span class="glyphicon glyphicon-list-alt"></span> 最新动态
                        </div>
                    </div>
                    <hr>

                        <div class="row">
							<div class="col-md-12" id="question">
								<p>{{ question.title }}</p>
								<p>{{ question.content }}</p>
								<ul class="list-inline">
                                    {% if is_follow %}
                                        <li><span class="glyphicon glyphicon-plus"></span> 已关注</li>
                                        <li><a href="{{ url_for('question.unfollow', id=question.id) }}"><span class="glyphicon glyphicon-minus"></span> 取消关注</a></li>                                        
                                    {% else %}
                                        <li><a href="{{ url_for('question.follow', id=question.id) }}"><span class="glyphicon glyphicon-plus"></span> 关注问题</a></li>                                        
                                    {% endif %}
                                </ul>
							</div>
						</div>
                        <hr>

                        {% for vo in answer %}
                            <div class="row">
                                <div class="col-md-12" id="answer">
                                    <p data-provide="markdown">{{ vo.content }}</p>
                                    <ul class="list-inline">
                                        <li><a href="{{ url_for('answer.like', id=vo.id) }}"><span class="glyphicon glyphicon-thumbs-up"></span> 赞成 {{ vo.like }}</a></li>
                                        <li><a href="{{ url_for('answer.unlike', id=vo.id) }}"><span class="glyphicon glyphicon-thumbs-down"></span> 反对 {{ vo.unlike }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                        <div class="row">
                            <div class="col-md-12" id="answer">
                                <form method="post" action="{{ url_for('answer.add') }}">
                                    <input type="hidden" name="qid" value="{{ question.id }}">
                                    <div class="form-group">
                                        <label for="content">回答</label>
                                        <textarea id="id-content-edit" class="form-control" id="content" name="content"  rows="10"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default">提交</button>
                                </form>
                                <P>{{ msg }}</P>
                            </div>
                        </div>            
                </div>
				
            <div class="col-md-4">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#id-content-edit").markdown({autofocus:false, savable:false, language:'zh'})   
        })
    </script>

{% endblock %}