{% extends "base.html" %}

{% block title %} 首页 {% endblock %}

{% block head %}
	{{  super()  }}	
{% endblock %}

{% block content %}
        <div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-9">
							<span class="glyphicon glyphicon-list-alt"></span> 最新动态
						</div>
						<div class="col-md-3 text-right">
							<span class="glyphicon glyphicon-cog"></span> 设置
						</div>
					</div>
					<hr>
					
					{% for an in answer %}
						<div class="row">
							<div class="col-md-1">
								<div class="row">
									<a href="#"><img class="img-responsive img-rounded" src="{{ '/uploads/img/' + an.user.avatar }}" alt=""></a>
								</div>
								<div class="row">
									<a href="#"><div class="text-center number">1</div></a>
								</div>
							</div>
							<div class="col-md-11" id="question">
								<p><a href="#">{{ an.user.username }}</a> 回答了问题 • {{ time_format(an.created_time) }}</p>
								<p><a href="{{ url_for('question.detail', id=an.question().id) }}"><strong>{{ an.question().title }}</strong></a></p>
								{% if (an.user.job and an.user.area) %}
									<p>{{ an.user.job }}，{{ an.user.area }}</p>
								{% endif %}
								<p>{{ an.content }}</p>
								<ul class="list-inline">									
									<li><a href="{{ url_for('question.detail', id=an.question().id) }}"><span class="glyphicon glyphicon-comment"></span> 回答问题 </a></li>
									<!-- <li><a href="#"><span class="glyphicon glyphicon-heart-empty"></span> 感谢</a></li>
									<li><a href="#"><span class="glyphicon glyphicon-share"></span> 分享</a></li>
									<li><a href="#"><span class="glyphicon glyphicon-bookmark"></span> 收藏</a></li>
									<li><a href="#">• 没有帮助</a></li>
									<li><a href="#">• 举报</a></li> -->
								</ul>
							</div>
						</div>
						<hr>
					{% endfor %}
					
				</div>
				
				<div class="col-md-4">
					<div class="row">
						<!-- <a href="{{ url_for('question.add') }}">提问</a> -->
					</div>
				</div>
			</div>
		</div>

{% endblock %}
  
