{% extends "base.html" %}

{% block title %} 登陆 {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">

    <form  method="post" action="{{ url_for('user.login') }}">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control input-xlarge" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <div class="checkbox">
            <label>
                <p>{{ msg }}</p>
                <a href="{{ url_for('user.register') }}">没有账号?请注册</a>
            </label>
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>

</div>
{% endblock %}