<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script src="/static/js/jquery/2.0.0/jquery.min.js"></script>
    <link href="/static/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap/3.3.6/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" method="post" action="{{ url_for('user.login') }}">
            <div class="control-group">
                <label class="control-label">用户名</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">密码</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" name="password">
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" class="span-primary" value="登录">
            </div>
        </form>
        <p>{{ msg }}</p>
        <a href="{{ url_for('user.register') }}">没有账号?请注册</a>
    </div>
</body>
</html>