<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
    <h1>用户资料页面</h1>
    <form method=post action={{ url_for("user.profile") }} enctype=multipart/form-data>
        <div>
            <label>名称</label>
            <input type="text" name="username" value="{{ user.username }}">
        </div>
        <div>
            <label>密码</label>
            <input type="text" name="password" value="" placeholder="空为不修改">
        </div>
        <div>
            <label>地区</label>
            <input type="text" name="area" value=" {{ user.area }} ">
        </div>
        <div>
            <label>职业</label>
            <input type="text" name="job" value=" {{ user.job }} ">
        </div>    
        <div>
            <label>图片</label>
            <input type=file name=file>
        </div>
        <input type=submit value=提交>
    </form>
    <p>{{ msg }}</p>

</body>
</html>